body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6; 
  margin: 0;
  padding: 0;
}

section{
  min-height: 100vh;
}

.details-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
}

.image-gallery {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.image-gallery img {
  width: 100%;
  max-width: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
}

.reviews {
  margin-top: 30px;
}

.reviews h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

.review {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.review-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.review-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.review p {
  color: #555;
  margin: 0;
}

.review-rating {
  font-size: 1.2rem;
  color: #f4b400;
  margin-top: 10px;
}